/bin/
/dist/
/lib/stanford-corenlp-full-2016-10-31/
/src/de/mpg/mpiinf/cardinality/experiments/
/auto_extraction/data/
/auto_extraction/models/
/auto_extraction/tools/
/data/conceptnet-assertions-5.5.0.csv.gz
.project
.classpath
.gitattributes
.pydevproject
